{% extends 'base.html'%}

{% block content %}

<form method="post">{% csrf_token%}
    <p>Estas seguro que deseas eliminar "{{object}}"?</p>
    <input type="submit"  value="Confirm">
</form>

{% endblock content %}