{% extends 'base.html'%}
{% block content%}
<div class="container-fluid">

    <!-- Page Heading -->
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Total personas registradas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Usuario</th>
                            <th>Recurso</th>
                            <th>Fecha asignado:</th>
                            
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for h in historial %}
                       

                        <tr>
                           
                            <td>{{h.usuario}}</td>
                            <td>{{h.recurso}}</td>
                            <td>{{h.created}}</td>
                        </tr>
                        {% endfor %}
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock content%}