{% extends 'base.html'%}
{% block content%}
<div class="container-fluid">

    <!-- Page Heading -->
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Total personas registradas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombres</th>
                            <th>Apellidos</th>
                            <th>Identificacion</th>
                            <th>Fecha de Registro:</th>
                            <th>Accion:</th>
                            
                            
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for user in users %}
                       

                        <tr>
                           
                            <td>{{user.nombres}}</td>
                            <td>{{user.apellidos}}</td>
                            <td>{{user.identificacion}}</td>
                            <td>{{user.created}}</td>
                            <td><a href="/persona/{{user.id}}">Editar</a> | <a href="/persona/eliminar/{{user.id}}">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock content%}