{% extends 'base.html'%}
{% block content%}
<div class="container-fluid">

    <!-- Page Heading -->
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Personas con recursos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Recurso</th>
                            <th>Fecha Asignado</th>
                            
                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for recurso in recursos %}
                        <tr>
                           
                            <td>{{recurso.usuario.nombres}}</td>
                            <td>{{recurso.nombre}}</td>
                            <td>{{recurso.updated}}</td>
                            
                            
                           
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock content%}