{% extends 'base.html'%}

{% block content%}
<div class="login-box desc ">
    <div class="login-box-body">
        <div class="card">
            <div class="card-body login-card-body">
                <div class="contact-image">
                    <i class="{{ dashboard.get_icon }} fa-5x"></i>
                </div>
                <p class="login-box-msg">Registrar recurso</p>
                <div class="layout__body">
                    <form class="" action="" method="POST"> 
                      {% csrf_token %}
                      {% for field in form %}
                        
                          <div class="form__group">
                            <label for="">{{field.label}}:</label><br>
                            {{field}}
                            <!--<input type="CC/NIT" class="form-control" id="inputCC/NIT4" placeholder="Nombre completo">-->
                          </div>
                        
                      {% endfor %}
                      <br>
                    <button type="submit" class="btn btn-primary">Submit!</button>
                        
                  
                    </form>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock content %}