{% extends 'base.html'%}
{% block content%}
<div class="container-fluid">

    <!-- Page Heading -->
    
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Recursos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Categoria</th>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Marca</th>
                            <th>Serie</th>
                            <th>Asignado a:</th>
                            <th>Accion:</th>

                        </tr>
                    </thead>
                    
                    <tbody>
                        {% for recurso in recursos %}
                       

                        <tr>
                           
                            <td>{{recurso.categoria}}</td>
                            <td>{{recurso.codigo}}</td>
                            <td>{{recurso.nombre}}</td>
                            <td>{{recurso.marca}}</td>
                            <td>{{recurso.serie}}</td>
                            <td>{{recurso.usuario.nombres}}</td>
                            <td><a href="/recurso/{{recurso.id}}">Editar</a> | <a href="/recurso/eliminar/{{recurso.id}}">Eliminar</a></td>
                        </tr>
                        {% endfor %}
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
{% endblock content%}